.contact__link {
    padding-top: 25px;
    color: #24A4BB;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    text-decoration: none;
}