.area__card {
    display: flex;
    width: 662px;
    height: 182px;
    border: 2px solid white;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

swiper-container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }

  swiper-slide {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }